{#
 * Created by Jose Luis Vargas Solarte.
 * User: seisvalt
 * Date: 16/03/15
 * Time: 09:24 AM
 #}

{{ use('yii/helpers/Html') }}
{{ use('yii/bootstrap/ActiveForm') }}

{% set respuestas ={
    0: 'Siempre',
    1: 'Casi Siempre',
    2: 'Algunas Veces',
    3: 'Casi Nunca',
    4: 'Nunca'
    }
%}

{% set form = active_form_begin({'id' : 'login-form','options' : {'class' : 'form-horizontal'},}) %}

{{ ['foo', 'bar'|upper]|join }}
{% set c = 'ti' ~ 'tle'|upper %}
{{ c }}
Es el titulo {{ page[c]}} imprimelo {{ respuestas[1] }}
{% set dimension = 'idDimension' ~ tipo|upper  %}
{% set comp = competencias[0] %}
{% set campo = 'id_dimension_' ~ tipo %}
Campo {{ campo }}
{# set id_dimension = comp[campo] #}
dimension : {{ id_dimension }}{{ dimension }}


$dimension = "idDimension".strtoupper($tipo);
$campo = "id_dimension_".($tipo);
$id_dimension ="";
$longitud = count($competencias);
$contador =0;

$respuestas = $tipos[$tipo];

while ($contador<$longitud-1){

$comp = $competencias[$contador];
$id_dimension = $comp->$campo;
?>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h4><?=$comp->$dimension->descripcion ?></h4>
            </div>
            <div class="ibox-content">
                <p >

                </p>

                <div class="body-content">
                    <div class="row">
                        <?php
                            $cont =1;

                            while ($id_dimension == $comp->$campo) {
                        $columnas ="col-lg-12";
                        ?>
                        <div class=<?= $columnas?>>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <?=$contador?> -  <?=$comp->nombre?>
                                </div>
                                <div class="panel-body" id="idtcp<?= $comp->id ?>">
                                    <?php
                                                $check[4]= isset($resultados[$comp->id])?:false;
                                    if($check[4])
                                    $check[4] = ($resultados[$comp->id]==5)?true:false;
                                    $check[3]= isset($resultados[$comp->id])?:false;
                                    if($check[3])
                                    $check[3] = ($resultados[$comp->id]==4)?true:false;
                                    $check[2]= isset($resultados[$comp->id])?:false;
                                    if($check[2])
                                    $check[2] = ($resultados[$comp->id]==3)?true:false;
                                    $check[1]= isset($resultados[$comp->id])?:false;
                                    if($check[1])
                                    $check[1] = ($resultados[$comp->id]==2)?true:false;
                                    $check[0]= isset($resultados[$comp->id])?:false;
                                    if($check[0])
                                    $check[0] = ($resultados[$comp->id]==0)?true:false;

                                    foreach($respuestas as $key => $value){
                                    echo Html::radio("comport-$comp->id",
                                    $check[$key],['label'=>$value, 'value'=>$key]);
                                    }



                                    ?>
                                </div>

                            </div>

                        </div>
                        <?php
                                $cont++;
                                $contador++;
                                if($contador==$longitud)
                                    break;
                                $comp = $competencias[$contador];

                            }
                            ?>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<?php
}
echo Html::a('Guardar y Enviar', ['fin'], ['class'=>'btn btn-primary', 'id'=>'gwt-fmt']);
ActiveForm::end();
?>
